.bg {
  background: url("./chalkboard.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding:0;
  margin: 0;
  height: 100vh;
  background-attachment: fixed
}

.signin {
padding:10%;
}

.logo {
  height: 200px;
  margin: 45% 0 3% 15%;
}

.apple {
  display: block;
margin-left:auto;
margin-right:auto;
margin-top: 10%;
height: 70px;
}


.form {
background: white;
padding: 10% 3%;
margin: 0 10%;
box-shadow: 10px 10px 10px black;
}

h3 {
  font-size: 1rem;
}

h4 {
  font-size: 1.1rem;
  margin-top: 7%;
  text-align: center;
}

p {
  font-size: .8rem;
  text-align: center;
}


* { 
  outline: 1px transparent #947676 !important; 
  } 
  
   * { 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    -ms-box-sizing: border-box; 
    box-sizing: border-box; 
    }

