.bg {
  background: center / cover no-repeat url("./chalkboard.jpg");
  height: 100vh;
}

h1, h2, h3 {
  font-family: 'Covered By Your Grace', cursive;
  text-align: 'center';
}

p {
  font-size: .8rem;
  text-align: center;
}
