.apple {
  height: 70px;
}

.form {
  background: white;
  box-shadow: 10px 10px 10px black;
  padding: 8em 10em;
  margin: 10em 20em 5em 5em;
}

h3 {
  font-size: 1rem;
}

h4 {
  font-size: 2rem;
  margin-top: 7%;
  text-align: center;
  font-family: 'Covered By Your Grace', cursive;
}

p {
  font-size: .8rem;
  text-align: center;
}

* { 
  outline: 1px #947676 !important; 
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  -ms-box-sizing: border-box; 
  box-sizing: border-box; 
} 
