.apple {
  height: 70px;
}

.form {
  background: white;
  box-shadow: 10px 10px 10px black;
  margin: auto;
  padding: 5%;
}

.form-container {
  padding-left: 5%;
  padding-right: 5%;
}

.signin h2 {
  color: white;
  text-align: center;
}
