.container-fluid-produce {
  background: url(../Lunchbox/fruits-and-veggies.jpg);
  padding: 10%;
  border-radius: 25px;
  // box-shadow: inset 30px 30px 20px rgb(82, 73, 26);
  background-color: rgb(41, 89, 246);
}

.container-fluid-grains{
  background: url(../Lunchbox/stars.jpg);
  padding: 10%;
  border-radius: 25px;
}

.container-fluid-dairy {
  background: url(../Lunchbox/pink-dots.png);
  padding: 10%;
  border-radius: 25px;
  
}

.container-fluid-protein {
  background: url(../Lunchbox/fruits-and-veggies.jpg);
  padding: 10%;
  border-radius: 25px;
}

.container-fluid-other {
  background: url(../Lunchbox/pink-dots.png);
  padding: 10%;
  border-radius: 25px;
}

h1 {
  margin-top: 50px;
  margin-bottom: 25px;
  text-align: center;
}